.skeletonAvatar {
    display: flex;
    align-items: center;
    gap: var(--space-4);
}

.skeletonAvatar.vertical {
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.skeletonAvatar.horizontal {
    flex-direction: row;
    align-items: flex-start;
}

.text {
    display: flex;
    flex-direction: column;
    gap: var(--space-2);
}