.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.1);
    animation: spin 1s linear infinite;
}

.sm .spinner {
    width: 16px;
    height: 16px;
    border-width: 2px;
}

.md .spinner {
    width: 32px;
    height: 32px;
    border-width: 3px;
}

.lg .spinner {
    width: 48px;
    height: 48px;
    border-width: 4px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}