.grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--space-6);
}

.list {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
}