.grid {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    gap: var(--space-8);
}

.list {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: var(--space-4);
}

@media (max-width: 768px) {
    .grid {
        grid-template-columns: 1fr;
    }
}