.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    min-height: 200px;
}

.spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #0077b6;
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

.small {
    width: 30px;
    height: 30px;
    border-width: 3px;
}

.medium {
    width: 50px;
    height: 50px;
}

.large {
    width: 70px;
    height: 70px;
    border-width: 5px;
}

.message {
    margin-top: 20px;
    color: #666;
    font-size: 1rem;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}